<h1>
	The map grid
</h1>

<div ng-if="$ctrl.$atc.state.post" class="">
	<div style="position: absolute; top: 50%; border: 3px solid red; width: 100%; background-color: white; color: black;">
		<atc-button ng-click="$ctrl.$atc.methods.state.go('decision-medvac')">outlaw</atc-button>
		<atc-button ng-click="$ctrl.$atc.methods.state.go('decision-medvac')">spartan</atc-button>
		<atc-button ng-click="$ctrl.$atc.methods.state.go('decision-medvac')">redback</atc-button>
		<atc-button ng-click="$ctrl.$atc.methods.state.go('decision-medvac')">dragon</atc-button>
	</div>
	<img src="https://lh3.googleusercontent.com/KyTA-ymg66i0d6rHls9PFLbSUZ0vur04ls36CV619X6WjPj4FOTKkm5mPWkowW7mQA=h900">
</div>